@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,300italic,400italic,600italic,700italic,900italic); /* very clean sans */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

@import url('bootstrap.min.css');



body {
  /*padding-top: 60px;*/
  padding-top: 50px;
  font:400 16px/1.5 'Source Sans Pro', sans-serif;
  color: #73879C;
  background-color:#f2f5f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
  zoom:1;
}


h1, h2, h3, h4, h5, h6, label, legend{
  font-family: 'Lato', Helvetica, Arial, sans-serif;;
  color: #506A85;
  font-weight:600;
}

.jumbotron p{
  /*font-weight:300;*/
  font:16px/1.5 'Source Sans Pro', sans-serif;
}

ul.icons{
  margin:0; padding:0;
}
ul.icons li{
  margin:0; padding:0;
  list-style-type: none;
}


.portfolio .row {
  padding:1.5em 0;
  border-bottom: 1px solid #d9d9d9;
}

/*nav, .navbar, .navbar-default { border:0; }*/