/* ------------------------------ */
/* ++IE_Fixes
/* ------------------------------ */
.ie6 input { vertical-align:text-bottom; }
.ie7 img { -ms-interpolation-mode:bicubic; }

/* make buttons play nice in IE:   
    www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* clearfix for IE */
.clear { zoom: 1; display: block; } 

/* CSS3 Styling Fixes (css3pie) */
pre, 
.flash_error, .flash_notice, .flash_success,
#flash_error, #flash_notice, #flash_success,
.flash_info, #flash_info,
input,textarea,
/* layout */
.client_img, .client_info{
  behavior: url(/PIE.htc);
}
