/*
found at - http://html5doctor.com/html-5-reset-stylesheet/
html5doctor.com Reset Stylesheet
v1.4
2009-07-27
Author: Richard Clark - http://richclarkdesign.com


Additional Styles :
  http://www.markboultondesign.com/sites/all/themes/mbd/css/baseline.css?u
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video{
  margin:0;padding:0;
  border:0; outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-align:left;
  white-space:normal;
  background: transparent;
  color:inherit;
}
html{ overflow-y: scroll; }
body{ line-height:1; }

article, aside, dialog, figure, footer, header,
hgroup, nav, section{ display:block; }

nav ul{ list-style:none; }

/* Remove quote marks (") from <q>, <blockquote>. */
blockquote, q{ quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after{ content:''; content:none; }

sub, sup{ font-size:small; }
sup{vertical-align:top;}
sub{vertical-align:bottom;}

a{
  margin:0; padding:0;
  background:transparent; border:0;
  font-size:100%;
  vertical-align:baseline;
  cursor:pointer;
}

abbr[title], dfn[title]{ border-bottom:1px dotted #000; cursor:help; }
del{ text-decoration:line-through; }
ins{ background-color:#ff9; color:#000; text-decoration:none; }
mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
table{ border-collapse:collapse; border-spacing:0; }
hr{
  display:block;
  margin:1em 0; padding:0;
  height:1px; border:0;
  border-top:1px solid #CCC;
}
input, select{ vertical-align:middle; }
:focus{ outline:0; }

/********** Deprecated and obsolete elements **********/
applet, basefont, dir, font, 
isindex, menu, s, strike, u { font-family: inherit; font-size: 100%; font-weight: normal; font-style: normal; white-space: normal; vertical-align: baseline; text-decoration: inherit; text-align: left; color: inherit; margin: 0; padding: 0; border: 0; outline: 0; }
dir, menu                   { list-style: none; }
nobr                        { white-space: normal; }
blink                       { text-decoration: none; }
marquee                     { overflow: visible; }

